* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Lato";
}

body {
  background: url("http://subtlepatterns.com/patterns/seamless_paper_texture.png");
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

.menu-wrapper {
  background: #343434;
}

#menu {
  width: 900px;
  margin: 0 auto;
  height: 50px;
  display: table;
}

#menu ul {
  list-style: none;
  display: table-row;
}

#menu ul li {
  display: table-cell;
}

#menu ul li a {
  display: block;
  line-height: 50px;
  font-size: 16pt;
  text-decoration: none;
  text-align: center;
  color: #ffffff;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
#menu ul li a:hover {
  color: #343434;
  background: #ffffff;
}

.products {
  margin: 20px 0;
}
.products:after {
  content: " ";
  display: block;
  clear: both;
}

.product {
  width: 300px;
  float: left;
  padding: 5px;
}

.product .img-wrapper {
  width: 100%;
}
.product .img-wrapper a {
  display: block;
}
.product .img-wrapper:hover img {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
.product .img-wrapper img {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
  max-width: 100%;
}

.product .product-title, .product .product-description {
  padding: 3px 10px;
}

.product .product-title {
  font-size: 20pt;
  text-align: center;
  border-bottom: 1px solid #343434;
  margin-bottom: 5px;
}

.product .product-description {
  text-align: justify;
}

#testimonials {
  padding: 15px;
  border-radius: 10px;
}

#testimonials img {
  float: left;
}

#testimonials h3, #testimonials p {
  position: relative;
  top: 30px;
  padding-left: 10px;
}

#testimonials h2 {
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
}

#testimonials > div {
  margin: 10px;
}

#testimonials div:after {
  display: block;
  content: " ";
  clear: both;
}

a.button {
  background: #343434;
  color: #ffffff;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 5px;
  margin: 10px;
  display: inline-block;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
a.button:hover {
  background: #666666;
}

.btn-contact {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  transform: translateX(-50%);
  font-size: 22pt;
  font-weight: lighter;
}

.btn-info {
  position: relative;
  left: 50%;
  width: 50%;
  text-align: center;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  transform: translateX(-50%);
}

.content-wrapper {
  margin: 0 auto;
  width: 900px;
}

#content .content-home {
  padding: 20px;
}
#content .content-home h1, #content .content-home h2, #content .content-home h3, #content .content-home h4, #content .content-home h5, #content .content-home h6 {
  padding-left: 10px;
}
#content .content-home p {
  margin: 10px 0px;
}
#content .content-home .title-main {
  text-align: center;
  margin-bottom: 20px;
  padding-top: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #343434;
  font-size: 36pt;
}

#footer {
  text-align: center;
  font-size: 14pt;
  border-top: 1px solid #343434;
  width: 50%;
  min-width: 300px;
  padding: 10px;
  margin: 0 auto;
  margin-top: 15px;
}

.footer-prepend {
  font-weight: bold;
}
