<fragment>
  <h2>What our users say:</h2>
  <div>
    <img src="http://randomuser.me/img/creator_arron.png" />
    <div>
      <h3>user 1</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis dolor et consectetur odit deserunt magnam voluptatibus commodi nihil, neque, sit cumque, laborum magni quae praesentium eligendi quo officiis cum veniam!</p>
    </div>
  </div>
  <div>
    <img src="http://randomuser.me/img/creator_keith.png" />
    <div>
      <h3>user 2</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse quo porro, voluptate, fugit eos officiis consequatur officia quos praesentium cupiditate vitae autem? Ipsum, repellendus quibusdam blanditiis veniam harum tempore, quaerat?</p>
    </div>
  </div>
</fragment>
